 body{
    margin: 0px;
    padding: 0px;
 }

 #header {
    text-align: center;
    height: 100px;
    background-color: rgb(30, 30, 59);
 }

 #header img {
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    float: left;
    
 }

 #main-pagina-home h1 {
    color: black;
    font-weight: bold;
    font-size: 20px;
 }
 #main-pagina-home p{
    color: rgb(9, 10, 22);
    font-size: 15px;
 }

 #nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
 }
 #nav li {
    padding-left: 0;
 }

 #nav a {
    text-decoration: none;
    color: rgb(152, 182, 199);
    font-size: 18px;
    font-weight: bold;
 }